<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
 
  <title>Concesionario de Ocasión</title>
  <link rel="stylesheet" href="/css/style.css">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <link rel="icon" href="http://cochesmiticos.com/wp-content/uploads/2011/10/ferrari_001.jpg"
  
  
  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
  
	<style>
		table, th, td 
			{
			border: 1px solid black;
			}
	</style>
</head>

